.background-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.page_content {
  box-sizing: border-box;
  background: #f4f4f4;
}
.headerImg {
  background: url('../images/newBg.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}
.headerImg .yearn_content {
  height: 300px;
  position: relative;
}
.headerImg .yearn_content .title {
  font-size: 40px;
  line-height: 40px;
  color: #add2ff;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}
@media (max-width: 840px) {
  .headerImg .yearn_content {
    height: 150px;
    padding-left: 30px;
  }
}
/* 新闻列表页 */
.news_wrapper {
  background: #f4f4f4;
}
.news_wrapper .yearn_news {
  padding-top: 10px;
  padding-bottom: 30px;
}
.news_wrapper .item {
  margin: 10px 0;
}
.news_wrapper .item .line {
  background: #114875;
  height: 3px;
  width: 0;
  margin: 0 auto;
  transition: width 0.3s;
}
.news_wrapper .item:hover .line {
  width: 100%;
}
.news_wrapper .item:hover a .time {
  color: #114875;
}
.news_wrapper .item a {
  color: inherit;
  display: block;
  background: #fff;
  color: #aaa;
  padding: 30px;
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
}
.news_wrapper .item .item_img {
  height: 130px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.news_wrapper .item .time {
  font-size: 30px;
  font-size: 1.875rem;
}
.news_wrapper .item .time span {
  font-size: 16px;
  font-size: 1rem;
}
.news_wrapper .item .title {
  color: #666;
  font-size: 16px;
  font-size: 1rem;
  line-height: 45px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.news_wrapper .item .content {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  word-break: break-all;
}
.pagination {
  text-align: center;
  background: #fff;
  padding: 30px 0;
  color: #333;
  display: block;
  margin-bottom: 0;
}
.pagination a {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 3px;
  background: #f4f4f4;
  color: inherit;
}
.pagination .current {
  color: #fff;
  background: #114875;
}
/* 新闻详情页*/
.detailBg {
  background: #f4f4f4;
  padding-top: 20px;
  padding-bottom: 50px;
}
.detail-mian {
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
  min-height: calc(-17vh);
}
.detail-head {
  width: 100%;
  padding: 20px 0 40px;
  text-align: center;
  border-bottom: 1px dashed #dddddd;
}
.detail-head > h4 {
  font-size: 20px;
  color: #333333;
  font-weight: normal;
}
.detail-head > div {
  font-size: 14px;
  color: #999999;
  margin-top: 8px;
}
.detail-con {
  padding: 50px 20px;
  font-size: 16px;
  color: #333;
  max-width: 1000px;
  overflow: hidden;
  line-height: 45px;
}
.detail-con img {
  text-indent: 0;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  display: block;
}
@media (max-width: 840px) {
  .news-container > li {
    width: auto;
    padding: 20px 12px;
  }
  .imgbox {
    width: 120px;
    height: 80px;
  }
  .news-item {
    width: 60%;
    position: relative;
  }
  .news-item > p,
  .news-more {
    display: none;
  }
  .news-item > h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: 6px;
    line-height: 1.5;
    font-size: 14px;
  }
  .news-item > div {
    display: block;
    position: absolute;
    bottom: -20px;
    left: 6px;
    font-size: 12px;
    color: #999999;
  }
  .detail-mian {
    padding-top: 0;
  }
}
/*招聘页*/
.recruit_page .yearn_content {
  max-width: 1000px;
}
.recruit_page .yearn_tag {
  padding: 30px;
  border-radius: 0;
  color: #fff;
  margin: 0 auto;
}
.recruit_page .yearn_tag .email {
  color: #fff;
  margin: 0 5px;
  font-size: 20px;
}
.recruit_page .recruit_banner {
  height: 500px;
  background-image: url('../images/joinusBg.jpg');
  background-size: 100% auto;
  background-position: center center;
  position: relative;
}
.recruit_page .recruit_banner .title {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  font-size: 40px;
  line-height: 100px;
  background: rgba(206, 199, 199, 0.7);
  color: #114875;
}
.recruit_page .boon {
  padding: 50px 0;
  background: #fff;
}
.recruit_page .boon ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recruit_page .boon ul li {
  position: relative;
  height: 150px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  transition: all .5s;
}
.recruit_page .boon ul li:hover .sharp {
  opacity: 1;
}
.recruit_page .boon ul li p {
  margin: 20px 0;
}
.recruit_page .boon ul li .sharp {
  cursor: pointer;
  user-select: none;
  opacity: .8;
  transition: all .5s;
}
.recruit_page .boon ul li .sharp .iconfont {
  position: relative;
  font-size: 50px;
}
.recruit_page .boon ul li:nth-of-type(1) .sharp {
  background: #e9686d;
}
.recruit_page .boon ul li:nth-of-type(1) .sharp::before {
  border-bottom-color: #e9686d;
}
.recruit_page .boon ul li:nth-of-type(1) .sharp::after {
  border-top-color: #e9686d;
}
.recruit_page .boon ul li:nth-of-type(2) .sharp {
  background: #f1955a;
}
.recruit_page .boon ul li:nth-of-type(2) .sharp::before {
  border-bottom-color: #f1955a;
}
.recruit_page .boon ul li:nth-of-type(2) .sharp::after {
  border-top-color: #f1955a;
}
.recruit_page .boon ul li:nth-of-type(3) .sharp {
  background: #7f98e0;
}
.recruit_page .boon ul li:nth-of-type(3) .sharp::before {
  border-bottom-color: #7f98e0;
}
.recruit_page .boon ul li:nth-of-type(3) .sharp::after {
  border-top-color: #7f98e0;
}
.recruit_page .boon ul li:nth-of-type(4) .sharp {
  background: #7e6fca;
}
.recruit_page .boon ul li:nth-of-type(4) .sharp::before {
  border-bottom-color: #7e6fca;
}
.recruit_page .boon ul li:nth-of-type(4) .sharp::after {
  border-top-color: #7e6fca;
}
.recruit_page .boon ul li:nth-of-type(5) .sharp {
  background: #6faacb;
}
.recruit_page .boon ul li:nth-of-type(5) .sharp::before {
  border-bottom-color: #6faacb;
}
.recruit_page .boon ul li:nth-of-type(5) .sharp::after {
  border-top-color: #6faacb;
}
.recruit_page .boon ul li:nth-of-type(6) .sharp {
  background: #5dc585;
}
.recruit_page .boon ul li:nth-of-type(6) .sharp::before {
  border-bottom-color: #5dc585;
}
.recruit_page .boon ul li:nth-of-type(6) .sharp::after {
  border-top-color: #5dc585;
}
.recruit_page .recruit_list .item .item_title,
.recruit_page .recruit_list .item .item_content {
  background: #fff;
}
.recruit_page .recruit_list .item .item_content {
  margin-top: -6px;
  border-radius: 0;
}
.recruit_page .positions {
  padding: 50px 0;
}
@media (max-width: 768px) {
  .recruit_page .recruit_banner {
    height: 180px;
  }
  .recruit_page .boon ul {
    padding: 0 20px;
  }
  .recruit_page .boon ul li {
    margin-bottom: 30px;
  }
  .recruit_page .boon ul li .sharp {
    transform: scale(0.8);
  }
  .recruit_page .recruit_list {
    padding: 0 10px;
  }
}
.comments .comments-title {
  color: #114875;
  line-height: 30px;
  font-size: 18px;
  font-size: 1.125rem;
  border-bottom: 1px solid #ddd;
}
.comments .comment-list {
  padding: 40px 0;
}
.comments .comment-list .main-comment {
  padding: 10px 0;
}
.comments .comment-list .depth-1 {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px 0;
}
.comments .comment-list .comment .pull-left {
  display: flex;
  justify-content: flex-start;
}
.comments .comment-list .comment .pull-left .user_info {
  color: #114875;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}
.comments .comment-list .comment .pull-left .user_info .avatar {
  border-radius: 50%;
}
.comments .comment-list .comment .pull-left .user_info .user-name {
  white-space: nowrap;
  margin: 10px 0;
}
.comments .comment-list .comment .pull-left .user_info .label-info {
  font-size: 6px;
  font-size: 0.375rem;
  color: #fff;
  background: #114875;
  border-radius: 5px;
  padding: 5px;
}
.comments .media-body .conmment-content {
  font-size: 16px;
  color: #333;
  line-height: 30px;
}
.comments .media-body .comment-info {
  margin: 10px 0;
  color: #999;
  font-size: 14px;
  font-size: 0.875rem;
}
.comments .media-body .comment-info a {
  color: inherit;
}
.comments .media-body .comment-info a:hover {
  color: #114875;
}
.comments .children {
  background: #f4f4f4;
  margin: 0 40px;
  padding: 10px 20px;
}
.comments .children .avatar {
  display: none;
}
.comments .children .conmment-content {
  font-size: 14px;
  font-size: 0.875rem;
}
.comments .comment-form {
  padding: 20px 0;
}
.comments .comment-form .form_item {
  margin: 10px 0;
}
.comments .form_item {
  display: flex;
  flex-direction: column;
}
.comments .form_item label {
  line-height: 45px;
}
.comments .form_item textarea {
  color: #333;
  padding: 10px;
}
.comments .submit {
  color: #fff;
  background: #114875;
  padding: 10px 20px;
  border: none;
}
.comments .submit:hover {
  opacity: .9;
}
.comments .logged-in-as {
  display: none;
}
/*招生解答*/
.admission_banner {
  height: 400px;
  background-image: url('../images/admissionBg.jpg');
  background-size: cover;
  background-position: top center;
  position: relative;
  overflow: hidden;
}
.admission_banner .title {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  font-size: 40px;
  line-height: 100px;
  background: rgba(206, 199, 199, 0.7);
  color: #114875;
}
@media (max-width: 768px) {
  .admission_banner {
    height: 180px;
  }
}
.admission_problems {
  padding: 50px 0;
}
.admission_problems .problems_content .yearn_content .part .part_title {
  font-size: 25px;
  line-height: 40px;
}
.admission_problems .problems_content .yearn_content .left .part_title {
  color: #ef3c56;
}
.admission_problems .problems_content .yearn_content .left .item {
  background: #ef3c56;
}
.admission_problems .problems_content .yearn_content .left .item .item_title {
  color: #fff;
}
.admission_problems .problems_content .yearn_content .left .item .item_title .iconfont {
  color: #fff;
}
.admission_problems .problems_content .yearn_content .left .item .item_content {
  border-radius: 0;
}
.admission_problems .problems_content .yearn_content .right .part_title {
  color: #ed8f25;
}
.admission_problems .problems_content .yearn_content .right .item {
  background: #ed8f25;
}
.admission_problems .problems_content .yearn_content .right .item .item_title {
  color: #fff;
}
.admission_problems .problems_content .yearn_content .right .item .item_title .iconfont {
  color: #fff;
}
.admission_problems .problems_content .yearn_content .right .item .item_content {
  border-radius: 0;
}
.admission_guide {
  padding: 50px 0;
  background: #f4f4f4;
  background-size: cover;
}
.admission_guide .guides_content {
  background: #f4f4f4;
  border: 1px solid #114875;
}
.admission_guide .guides_content .tab {
  background: #114875;
  height: 56px;
  line-height: 56px;
}
.admission_guide .guides_content .active {
  border-top: 3px solid #114875;
  background: #fff;
  color: #114875;
}
.admission_guide .guides_content .content {
  line-height: 30px;
  color: #333;
  background: #fff;
  white-space: pre-line;
}
.apply {
  padding: 50px 0;
}
.apply .apply_form {
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 400px;
  margin: 0 auto;
}
.apply .apply_form input {
  font-size: 14px;
  font-size: 0.875rem;
}
.apply .apply_form label {
  padding: 10px ;
}
.apply .apply_form .btn {
  padding: 10px 40px;
  display: block;
  border-radius: 0;
  border-color: #114875;
  background: #114875;
  width: 100%;
}
.apply .apply_form .form-control {
  border-radius: 0;
}
.apply .apply_form .form-control .form-control {
  border-radius: 0;
}
@media (max-width: 768px) {
  .apply .apply_form .btn {
    width: 100%;
  }
}
